---
import BaseLayout from "src/layouts/BaseLayout.astro";
import Card from "src/components/Card.astro";
import SearchField from "src/components/SearchField.astro";
import TagCloud from "src/components/TagCloud.astro";

import { fetchAndFilterPosts } from "../utils/helpers";

const posts = await fetchAndFilterPosts();

const title = "Welcome to LoneVoice.in";
const description = "Home Page of LoneVoice.in";
---

<BaseLayout {title} {description}>
    <main class="wrapper py-6">
        <div class="frame-grid">
            <div class="grid sm:grid-cols-2 2xl:grid-cols-3 gap-8">
                {
                    /* First 2 images should not be lazy loaded to please Google */
                    posts
                        .slice(0, 2)
                        .map((post) => <Card {post} aboveFold={true} />)
                }
                {posts.slice(2).map((post) => <Card {post} />)}
            </div>
            <aside>
                <SearchField />
                <TagCloud />
            </aside>
        </div>
    </main>
</BaseLayout>
