---
import { Picture } from "astro:assets";
import Date from "./Date.astro";

const { post } = Astro.props;
const { title, pubDate, summary, coverImage, coverAlt } = post.data;
---

<article>
	<a href={`/blog/${post.slug}/`}>
		<Picture
			src={coverImage}
			alt={coverAlt}
			formats={["avif", "webp"]}
			class="rounded-sm aspect-video shadow"
		/>
	</a>

	<Date date={pubDate} class="mt-3 mb-2 text-lg lg:text-xl" />

	<h2>
		<a
			href={`/blog/${post.slug}/`}
			class="text-2xl xl:text-3xl font-bold font-alegreya">{title}</a
		>
	</h2>

	<div class="mt-4 text-lg">
		{summary}
	</div>
</article>
