---
import BaseLayout from "src/layouts/BaseLayout.astro";
import TagCloud from "src/components/TagCloud.astro";
import SearchField from "src/components/SearchField.astro";
import Card from "src/components/Card.astro";

import {
    fetchAndFilterPosts,
    generateTagData,
    unslugify,
} from "../../utils/helpers";

export async function getStaticPaths() {
    const posts = await fetchAndFilterPosts();

    const uniqueTags = [
        ...new Set(posts.flatMap((post) => post.data.tags)),
    ] as string[];

    const tagData: { name: string; slug: string }[] =
        generateTagData(uniqueTags);

    return tagData.map((tag) => {
        const taggedPosts = posts.filter((post) =>
            post.data.tags.includes(tag.name),
        );

        return {
            params: { tag: tag.slug },
            props: { posts: taggedPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const title = `Posts about ${unslugify(tag)} | LoneVoice.in`;
const description = `Posts about ${tag} | LoneVoice.in`;
---

<BaseLayout {title} {description}>
    <main class="wrapper py-6">
        <div class="frame-grid">
            <div>
                <h1 class="text-2xl xl:text-3xl mb-6 heading">
                    Posts about <span class="font-bold font-alegreya"
                        >{`" ${unslugify(tag)} "`}</span
                    >
                </h1>

                <div class="grid sm:grid-cols-2 gap-8">
                    {posts.map((post) => <Card {post} />)}
                </div>
            </div>
            <aside class="sidebar">
                <SearchField />
                <TagCloud />
            </aside>
        </div>
    </main>
</BaseLayout>

<style>
    span {
        color: var(--clr-brand);
        text-shadow: 1px 1px var(--clr-dark);
    }
</style>
